@font-face {
  font-family: "Vazir";
  src: url(Fonts/Vazir-Font/Vazir.ttf;
  src: url(Fonts/Vazir-Font/Vazir-Thin.ttf;
  src: url(Fonts/Vazir-Font/Vazir-Regular.ttf;
  src: url(Fonts/Vazir-Font/Vazir-Medium.ttf;
  src: url(Fonts/Vazir-Font/Vazir-Light.ttf;
  src: url(Fonts/Vazir-Font/Vazir-Bold.ttf;
  src: url(Fonts/Vazir-Font/Vazir-Black.ttf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazir";
}

body, html {
  overflow: auto;
}

body, html {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #F4F4F4;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #bfbfbf #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: .1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

header div.container {
  padding: .5em 0 .5em 0;
}

header div.container div.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

header div.container div.logo img {
  width: 100px;
}

header div.container div.logo h4 {
  font-family: "Montserrat",sans-serif;
  font-weight: 700;
  color: #00415A;
  text-align: center;
}

header div.container div.search-box {
  padding: .5em;
}

header div.container div.search-box form {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2em;
  padding: .1em .5em .1em .5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: _;
  gap: 0;
}

header div.container div.search-box form i {
  color: #009BD6;
  font-size: 1.5em;
}

header div.container div.search-box form input {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  padding: .5em .2em .5em .2em;
}

header div.container div.left-side .login-part {
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}

header div.container div.left-side .login-part .login {
  width: 2em;
  height: 2em;
  background-color: #00719C;
  border-radius: 50%;
  color: #F4F4F4;
  margin: .5em;
  padding: .1em .3em .1em .3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  column-gap: .3em;
}

header div.container div.left-side .login-part .login a {
  font-size: 1.2em;
  color: #F4F4F4;
  padding: .5em;
}

header div.container div.left-side .login-part div span {
  color: #2F2E2E;
}

header div.container div.left-side .login-part div .dropdownList {
  top: .5em;
}

header div.container div.left-side .login-part div .dropdownList li a {
  text-decoration: none;
  color: #2F2E2E;
  padding: .5em;
}

header div.container div.left-side .login-part div .dropdownList li a:hover {
  color: #fff;
}

header div.container div.left-side .login-part div .dropdownList li button {
  width: 100%;
  border: none;
  outline: none;
  color: #2F2E2E;
  background-color: transparent;
}

header div.container div.left-side .login-part div .dropdownList li button:hover {
  color: #fff;
}

header div.container div.left-side div.shop {
  margin: .5em;
}

header div.container div.left-side div.shop i {
  font-size: 2em;
  color: #00719C;
}

header nav ul {
  width: 100%;
  height: 3em;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  display: inline-block;
  padding: 1em;
}

header nav ul li a {
  text-decoration: none;
  color: #6B6B6C;
}

header nav ul li span {
  color: #00B8FF;
  padding: .2em;
}

div.footer-menu {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropdownList {
  display: none;
  position: absolute;
  left: 0;
  min-width: 160px;
  height: auto;
  background-color: #E6E7E9;
  border-radius: .4em;
  padding: 0;
  margin: 1em;
  overflow: hidden;
  z-index: 100;
}

.dropdown .dropdownList li {
  width: 100%;
}

.dropdown .dropdownList li a {
  display: block;
  width: 100%;
  padding: .2em;
}

.dropdown .dropdownList li:hover {
  background-color: #009BD6;
}

.dropdown .dropdownList li:hover a {
  color: #F4F4F4;
}

.dropdown .megamenu-container {
  min-width: 600px;
  display: none;
  position: absolute;
  background-color: #E6E7E9;
  border-radius: .4em;
  padding: 1em;
  margin: 1em;
  overflow: hidden;
  z-index: 10;
}

.dropdown .megamenu-container li {
  width: 100%;
  height: 3.5em;
  padding: 0;
  border-radius: 0 2em 2em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0;
}

.dropdown .megamenu-container li ul.menu-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  padding: 0;
  background-color: #009BD6;
}

.dropdown .megamenu-container li ul.menu-wrapper li {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.dropdown .megamenu-container li ul.menu-wrapper li ul li {
  padding: .5em 0 .5em 0;
}

.dropdown .megamenu-container li ul.menu-wrapper li ul li a {
  color: #E6E7E9;
}

.dropdown .megamenu-container li ul.menu-wrapper li ul li:hover a {
  color: #F4F4F4;
}

.dropdown .megamenu-container li ul.menu-wrapper li a {
  color: #2F2E2E;
  text-align: center;
}

.dropdown .megamenu-container li a {
  text-align: center;
  padding-right: .5em;
  vertical-align: middle;
}

.dropdown .megamenu-container li.select ul.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 0;
}

.dropdown .megamenu-container li:hover {
  background-color: #009BD6;
}

.dropdown .megamenu-container li:hover a {
  color: #F4F4F4;
}

.dropdown.active ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.dropdown.active .megamenu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.dropdown.active .megamenu-container ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
}

@media screen and (max-width: 767px) {
  header div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0;
  }
  header div.logo img {
    width: auto !important;
    height: 3em;
  }
  header div.left-side {
    display: none !important;
  }
  nav.navbar.nav ul li span {
    color: #009BD6;
  }
  nav.navbar.nav ul li.special {
    display: none;
  }
  nav.navbar.nav ul li.dropdown ul {
    right: 0;
  }
  div.footer-menu {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #fff;
    box-shadow: 5px 0 10px #919192;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0;
    padding: 0;
    overflow-x: auto;
    z-index: 100;
  }
  div.footer-menu ul {
    min-width: 100%;
    height: 4em;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 0;
  }
  div.footer-menu ul li {
    min-width: calc(100% / 5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }
  div.footer-menu ul li span i {
    color: #009BD6;
  }
  div.footer-menu ul li a {
    text-decoration: none;
    color: #009BD6;
  }
}
