@model AddEditTicketViewModel;
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card card-primary col-sm-10">
                <div class="card-header">
                    <h3>افزودن تیکت</h3>
                </div>
                <div class="card-body">
                    <form asp-action="AddTicket" asp-controller="Ticket" method="post">
                        @if (ViewBag.success != null)
                        {
                            <div class="alert alert-success">@ViewBag.success</div>
                        }
                        <div class="alert alert-danger" asp-validation-summary="All"></div>
                        <div class="form-group">
                            <label>عنوان تیکت</label>
                            <input class="form-control" asp-for="Title" placeholder="عنوان تیکت" />
                        </div>
                        <div class="form-group">
                            <label> متن تیکت</label>
                            <textarea class="form-control" asp-for="Description" placeholder="متن تیکت">
                             </textarea>
                        </div>
                        <input asp-for="@Model.Status" value="open" hidden class="hidden"/>
                        <input asp-for="@Model.UserName" value="@User.Identity.Name" hidden class="hidden" />
                        <button type="submit" class="btn btn-success">افزودن</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>