@using static PresentationLayer.Views.ViewComponents.CategoryBreadCrumpViewComponent;
@using DataAccessLayer.Models;
@model BreadCrumpModel;


@functions {
    public string MakeBreadCrump(int Id, List<Category> model)
    {
        var category = model.Where(c => c.Id == Id).First();
        while (category != null)
        {
            <a href="" class="text-zinc-500 hover:text-primary-500 transition">
                @category.Name
            </a>
            <svg class="size-3 fill-zinc-500" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#3d3d3d" viewBox="0 0 256 256"><path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path></svg>
            if (category.ParentId != null)
            {
                category = model.Where(c => c.Id == category.ParentId).First();
            }
            else
            {
                return "";
            }
        }
        return "";
    }
}
