@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "تایید فراموشی رمز عبور";
}
<div class="row">
    <div class="alert alert-success">
        <p>
    Please check your email to reset your password.
</p>
        </div>
    </div>
