@page
@model LockoutModel
@{
    ViewData["Title"] = "هشدار";
}

<header>
    <div class="alert alert-warning">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">این حساب کاربری قفل شده است لطفا بعدا تلاش کنید</p>
    </div>
</header>
