@model SearchViewModel
<form class=" relative flex items-center w-full md:w-auto" asp-action="Search" asp-controller="Product">
    <div class="relative flex-1 md:flex-none md:w-32 lg:w-96">
        <select asp-for="CategoryId" class="rounded-r-2xl text-zinc-700 bg-zinc-100 px-5 py-2.5 w-full placeholder:text-zinc-400 placeholder:text-xs focus:outline-0 focus:ring-primary-500 focus:border-primary-500">
            <option value="0">همه</option>
            @foreach (var ct in Model.Categories)
            {
                <option value="@ct.Id">@ct.Name</option>
            }
        </select>
    </div>
    <div class="relative flex-1">
        <input asp-for="SearchInput" class="rounded-l-2xl text-zinc-700 bg-zinc-100 px-5 py-2.5 w-full placeholder:text-zinc-400 placeholder:text-xs focus:outline-0 focus:ring-primary-500 focus:border-primary-500" type="text" placeholder="جستجو محصول ..." />
        <button class="absolute top-2.5 left-3 z-50 text-white cursor-pointer" type="submit">
            <svg class="size-6 fill-zinc-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                <path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path>
            </svg>
        </button>
    </div>
</form>