@{
    ViewData["ActiveLink"] = "ticketDetail";
    Layout = "UserPanelLayout";
}
@model AddEditTicketViewModel   
 <form method="post" id="send-ticket" asp-action="AddTicket" asp-controller="Ticket" class="space-y-6 px-2 lg:px-8 pb-4 sm:pb-6 pt-4 text-xs md:text-base">
<div class="flex flex-col gap-5 ">
    <div class="text-danger" asp-validation-summary="All"></div>
    @if(ViewBag.success != null)
    {
        <div class="alert alert-success">@ViewBag.success</div>
    }
    <div class="col-12 d-flex flex-column align-items-center">
        <img src="~/image/icons/icons8-headphones-100.png" alt="" class="col-3">
        <h6>تیکت شما در اسرع وقت پیگیری می شود!</h6>
    </div>
    <div class="sm:w-1/2 mb-2 sm:mb-0 flex flex-col gap-y-1">
        <label class="text-zinc-700 flex">
            نام
            <svg class="fill-red-500" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#4d4d4d" viewBox="0 0 256 256"><path d="M210.23,101.57l-72.6,29,51.11,65.71a6,6,0,0,1-9.48,7.36L128,137.77,76.74,203.68a6,6,0,1,1-9.48-7.36l51.11-65.71-72.6-29a6,6,0,1,1,4.46-11.14L122,119.14V40a6,6,0,0,1,12,0v79.14l71.77-28.71a6,6,0,1,1,4.46,11.14Z"></path></svg>
        </label>
        <input class="rounded-2xl text-sm text-zinc-600 w-full border border-zinc-200 px-5 py-3.5 placeholder:text-zinc-400 placeholder:text-xs focus:outline-1 focus:outline-primary-300 focus:border-primary-300" type="text" placeholder="نام">
    </div>
    <div class="form-group">
        <textarea id="content" asp-for="Description" class="rounded-2xl text-sm text-zinc-600 w-full border border-zinc-200 px-5 py-3.5 placeholder:text-zinc-400 placeholder:text-xs focus:outline-1 focus:outline-primary-300 focus:border-primary-300" placeholder="متن تیکت" ></textarea>
    </div>
    </div>
    <button type="submit" class="bg-teal-500 text-white py-2 px-4 rounded-md cursor-pointer hover:bg-teal-600 col-12">ارسال</button>
</form>

@section ScriptRefrence{
    <script src="~/CkEditor/build/ckeditor.js"></script>
    <script src="~/CkEditor/build/translations/en-au.js"></script>
    <script src="~/CkEditor/build/translations/en-gb.js"></script>
}
@section InlineScript{
    <script>
        ClassicEditor
            .create(document.querySelector('#content'))
            .catch(error => {
                console.error(error);
            });

    </script>
}