@using DataAccessLayer.Models;
@model List<General>
<div class="mb-8 border border-zinc-200 rounded-2xl p-4">
@* @if (Model != null) *@
@* { *@
@*     if (Model.Count > 0) *@
@*     { *@
@*         <img class="rounded-lg mb-6" src="~/Image/icons/aboutus/@Model.First().ImageName" alt=""> *@
@*         <p class="text-zinc-600 text-xs md:text-sm leading-8"> *@
@*             @Html.Raw(Model.First().Description) *@
@*         </p> *@
@*     } *@
@* } *@
@* else *@
@* { *@

<img class="rounded-lg mb-6" src="~/Image/heroSlider/1.webp" alt="">
<h1 class="text-[30px] text-primary font-bold w-full py-4 text-center" >درباره الکتروشاپ</h1>
    <p class="text-zinc-600 text-xs md:text-sm leading-8">
        الکتروشاپ یک فروشگاه اینترنتی تخصصی در حوزه لوازم الکتریکی، الکترونیکی و تجهیزات جانبی است که با هدف ایجاد تجربه‌ای سریع، مطمئن و آسان از خرید آنلاین راه‌اندازی شده است.

        ما در الکتروشاپ تلاش می‌کنیم مجموعه‌ای کامل از محصولات معتبر و باکیفیت را با قیمت مناسب در اختیار شما قرار دهیم؛ از ابزار و تجهیزات برق‌کشی گرفته تا قطعات الکترونیکی، روشنایی، باتری و لوازم جانبی.

        ویژگی‌های اصلی الکتروشاپ:

        ارائه محصولات اصل و با ضمانت کیفیت

        ارسال سریع به سراسر کشور

        پشتیبانی و مشاوره تخصصی برای انتخاب بهترین محصول

        خرید آسان و امن

        ماموریت ما این است که خرید تجهیزات الکتریکی و الکترونیکی دیگر محدود به فروشگاه‌های حضوری نباشد و شما بتوانید در هر زمان و مکانی به راحتی و با اطمینان خرید کنید.
    </p>
@* } *@
</div>