@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "تایید تغییر رمز عبور";
}

<div class="row">
    <div class="container">
        <div class="alert alert-success">
            <p>
  رمز عبور شما تغییر کرد 
</p>
<div class="row">
    <a class="btn btn-primary" asp-page="./Login">متوجه شدم</a>.
    </div>
            </div>
        </div>
    </div>
