<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->
                <form class="form">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">افزودن تخفیف</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">نام تخفیف</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="نام تخفیف را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">مقدار تخفیف</label>
                                <input type="number" class="form-control" id="exampleInputEmail1" placeholder="مقدار تخفیف را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">مدت زمان</label>
                                <input type="number" class="form-control" id="exampleInputEmail1" placeholder="مدت زمان  را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label>نوع تاریخ</label>
                                <select class="form-control">
                                    <option>دقیقه</option>
                                    <option>هفته</option>
                                    <option>ماه</option>
                                    <option>سال</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">فعال</label>
                                <input type="checkbox" class="form-control" id="exampleInputEmail1">
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <a href="#" type="submit" class="btn btn-primary">افزودن</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>