@using static PresentationLayer.Views.ViewComponents.UserProfileViewComponent;
@model ProfileViewModel

<div class="profile">
    <img src="~/@Model.imageaddress" alt="">
    <p>
        <button type="button" class="nav-link border-0 bg-transparent text-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
             تغییر پروفایل
        </button>
    </p>
    <h4><a href="Identity/Account/Manage">@Model.Username<i class="fa-solid fa-pen"></i></a></h4>
</div>
