@using static PresentationLayer.Views.ViewComponents.UserProfileViewComponent;
@model ProfileViewModel

<div class="flex justify-center items-center">
    <button type="button"
            class="relative w-[50px] h-[50px] rounded-circle show-modal-btn flex justify-center items-center" data-modal-id="modal-1">
        
        <img src="~/@Model.imageaddress" class="rounded-full cursor-pointer w-full h-full object-cover" alt="">
    </button>
    <p>

    </p>
    @* <h4><a href="Identity/Account/Manage">@Model.Username<i class="fa-solid fa-pen"></i></a></h4> *@
</div>
