@model AddKeyValueToProduct
<div class="container">
    <div class="row">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title col-6">مشخصات فنی</h3>
            </div>
            <form method="post" asp-action="AddOptions" asp-controller="Product">

                <div class="card-body row">
                    <!-- select -->
                    @if (ViewBag.success != null)
                    {
                        <div class="alert alert-success">ViewBag.success</div>
                    }
                    <div class="form-group col-12">
                        <div class="form-group col-sm-12">
                            <label>محصولات</label>
                            <select class="select2 multiplelist" multiple="multiple" data-placeholder="Select a State" style="width:100%" id="productlist" asp-for="ProductIds" asp-items="Model.Products">
                            </select>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>مشخصات کلید ها</label>
                            <select class="form-control" asp-items="Model.Keys" id="adjkey" asp-for="KeyId">
                            </select>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>مقدار ها</label>
                            <select class="form-control multiplelist" id="adjvalue" multiple="multiple" asp-for="ValueIds">
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">افزودن</button>
                        <!-- /.card-body -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section RefrenceScripts{
    <script src="AdminLTE/plugins/select2/js/select2.full.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
}
@section InlineScripts{
    <script>

    </script>

    <script>
        //Initialize Select2 Elements
        $(document).ready(function () {
            $('.multiplelist').select2();

            var adjkeySelect = document.getElementById("adjkey");
            adjkeySelect.addEventListener("change", function () {
                var value = adjkeySelect.value;
                $.ajax(
                    {
                        url: '@Url.Action("DropDown","TechnicalSpecification")',
                        type: 'GET',
                        data: { adjkey_Id: value },
                        success: function (data) {
                            console.log(data);
                            $('#adjvalue').empty();
                            $('#adjvalue').append('<option value="0" >مقدار مورد نظر را انتخاب کنید</ option>');
                            console.log(data);
                            for (const item of data["$values"]) {
                                $('#adjvalue').append('<option value="' + item.value + '">' + item.text + '</ option>');
                            };
                        },
                    });
            })
            $('a.headlist input[type="checkbox"]').change(function () {
                console.log("enter foreach");

                var $checkbox = $(this);
                var $childCheckboxes = $checkbox.parent().siblings('ul').find('input[type="checkbox"]');

                if ($checkbox.prop('checked')) {
                    // Check child checkboxes
                    $childCheckboxes.prop('checked', true);
                } else {
                    // Uncheck child checkboxes when the parent is unchecked
                    $childCheckboxes.prop('checked', false);
                }
            });
            $(".headlist").next(".list").slideUp();
            $(".headlist").click(function () {
                $(this).next(".list").slideToggle();
            });
        });
    </script>
}
