
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->
                <form class="form">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">اطلاعات اولیه</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>سر دسته بندی</label>
                                    <select class="form-control">
                                        <option>تجهیزات کامپیوتر</option>
                                        <option>تجهیزات موبایل</option>
                                        <option>کیس اسمبل شده</option>
                                        <option>تجهیزات جانبی</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>زیر دسته بندی</label>
                                    <select class="form-control">
                                        <option>مانیتور</option>
                                        <option>رم</option>
                                        <option>مادربرد</option>
                                        <option>پاور</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">نام مشخصه</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="نام مشخصه را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label>نوع مقدار</label>
                                <select class="form-control">
                                    <option>string</option>
                                    <option>int</option>
                                    <option>bool</option>
                                </select>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <a href="#" type="submit" class="btn btn-primary">افزودن</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>