<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title col-6">افزودن مقدار به مشخصه </h3>
                </div>
                <form>
                    <div class="card-body row">
                        <!-- select -->
                        <div class="form-group col-sm-4">
                            <label>سر دسته بندی</label>
                            <select class="form-control">
                                <option>تجهیزات کامپیوتر</option>
                                <option>تجهیزات موبایل</option>
                                <option>کیس اسمبل شده</option>
                                <option>تجهیزات جانبی</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>زیر دسته بندی</label>
                            <select class="form-control">
                                <option>مانیتور</option>
                                <option>رم</option>
                                <option>مادربرد</option>
                                <option>پاور</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>مشخصات کلید ها</label>
                            <select class="form-control">
                                <option>وزن</option>
                                <option>رم</option>
                                <option>مادربرد</option>
                                <option>پاور</option>
                            </select>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>مقدار عددی</label>
                                <input type="number" class="form-control" placeholder="مفدار عددی را وارد کنید" disabled />
                            </div>
                            <div class="form-group">
                                <label>مقدار متنی</label>
                                <input type="text" class="form-control" placeholder="مفدار متنی را وارد کنید" />
                            </div>
                            <div class="form-group">
                                <label>مقدار دارد /ندارد</label>
                                <input type="checkbox" class="form-control" placeholder="مفدار دارد / ندارد را وارد کنید" disabled />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">افزودن</button>
                        <!-- /.card-body -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>