@using PresentationLayer.Models;;
@model EditUserViewModel
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->
                    <form class="form" asp-action="EditUser" asp-controller="User" method="Post">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">ویرایش کاربر</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <div class="card-body">
 
                                <div class="alert alert-danger" asp-validation-summary="All"></div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">نام کاربر</label>
                                <input asp-for="UserName" class="form-control" id="exampleInputEmail1" placeholder="نام کاربر را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">نام و نام خانواداگی</label>
                                <input asp-for="FullName" class="form-control" id="exampleInputEmail1" placeholder="نام  را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">تاریخ تولد</label>
                                <input asp-for="birthDate" class="form-control" id="exampleInputEmail1" placeholder="تاریخ تولد  را وارد کنید (اختیاری)">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">ایمیل</label>
                                <input asp-for="Email" class="form-control" id="exampleInputEmail1" placeholder=" ایمیل را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">تایید ایمیل</label>
                                <input asp-for="ComfrimEmail" class="form-control" id="exampleInputEmail1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">شماره موبایل </label>
                                <input asp-for="PhoneNumber" class="form-control" id="exampleInputEmail1" placeholder="شماره موبایل  را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">تایید شماره موبایل</label>
                                <input asp-for="ConfrimPhoneNumber" class="form-control" id="exampleInputEmail1">
                            </div>
                            <div class="form-group">
                                <label>مقام کاربر</label>
                                <select class="form-control" multiple asp-for="@Model.Role" asp-items="@Model.RoleList">
                                    <option>لطفا یک نقش انتخاب کنید</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">فعال</label>
                                <input asp-for="IsEnable" class="form-control" id="exampleInputEmail1">
                            </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                            <button type="submit" class="btn btn-primary">ویرایش</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</section>