@using Microsoft.AspNetCore.Identity;
@model List<IdentityRole>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>نام نقش</th>
                    <th>سطح دسترسی</th>
                    <th>کنترل</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var role in Model)
                {
                    <tr>
                        <td>@role.Name</td>
                        <td><h4><span class="badge bg-primary">کامل</span></h4></td>
                        <td>
                            <div class="btn-group">
                                <a asp-action="EditRole" asp-controller="User" asp-route-Id="@role.Id" class="btn btn-info"><i class="fa-solid fa-pen"></i></a>
                                <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>