<div class="container" dir="rtl">
    <div class="row">
        <div class="info-box col-sm-6 col-lg-3">
            <span class="info-box-icon bg-info">
                <i class="fa-solid fa-basket-shopping"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">تعداد خرید</span>
                <span class="info-box-number">5</span>
            </div>

        </div>
        <div class="info-box col-sm-6 col-lg-3">
            <span class="info-box-icon bg-primary">
                <i class="fa-solid fa-coins"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">مقدار خرید</span>
                <span class="info-box-number">2000,000 T</span>
            </div>
        </div>
        <div class="info-box col-sm-6 col-lg-3">
            <span class="info-box-icon bg-warning">
                <i class="fa-solid fa-comments"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">تعداد کامنت ها</span>
                <span class="info-box-number">20</span>
            </div>

        </div>
        <div class="info-box col-sm-6 col-lg-3">
            <span class="info-box-icon bg-danger">
                <i class="fa-solid fa-ticket"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">تعداد تیکت ها</span>
                <span class="info-box-number">7</span>
            </div>

        </div>
    </div>
    <div class="d-flex gap-2 flex-wrap justify-content-center ">
        <div class="card card-info col-10 col-md-4 m-0 p-0">
            <div class="card-header">
                <h3>مشخصات اولیه</h3>
            </div>
            <div class="card-body col-12">
                <div class="col-sm-6">
                    <img src="AdminLTE/dist/img/avatar.png" class="rounded-circle border col-12" />
                </div>
                <div class="col-sm-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    نام
                                </td>
                                <td>
                                    محمد الماسی
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ایمیل
                                </td>
                                <td>
                                    almasi@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    رمز
                                </td>
                                <td>
                                    1234abcd
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    نقش
                                </td>
                                <td>
                                    کاربر
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" dir="ltr">
                        <a href="#" class="btn btn-danger">حذف</a>
                        <a href="#" class="btn btn-warning">ویرایش</a>
                        <a href="#" class="btn btn-secondary">غیرفعال</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-primary col-10 col-md-8 m-0 p-0">
            <div class="card-header">
                <h3>خرید های اخیر</h3>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>عکس</th>
                            <th>نام محصول</th>
                            <th>تعداد محصول</th>
                            <th>قیمت محصول</th>
                            <th>تاریخ خرید</th>
                            <th>مشاهده</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="AdminLTE/dist/img/prod-1.jpg" class="col-3" /></td>
                            <td>مانیتور</td>
                            <td>1</td>
                            <td>2000,000</td>
                            <td>2023,08,12</td>
                            <td><a href="#" class="btn btn-primary">مشاهده فاکتور</a></td>
                        </tr>
                        <tr>
                            <td><img src="AdminLTE/dist/img/prod-1.jpg" class="col-3" /></td>
                            <td>مانیتور</td>
                            <td>1</td>
                            <td>2000,000</td>
                            <td>2023,08,12</td>
                            <td><a href="#" class="btn btn-primary">مشاهده فاکتور</a></td>
                        </tr>
                        <tr>
                            <td><img src="AdminLTE/dist/img/prod-1.jpg" class="col-3" /></td>
                            <td>مانیتور</td>
                            <td>1</td>
                            <td>2000,000</td>
                            <td>2023,08,12</td>
                            <td><a href="#" class="btn btn-primary">مشاهده فاکتور</a></td>
                        </tr>
                        <tr>
                            <td><img src="AdminLTE/dist/img/prod-1.jpg" class="col-3" /></td>
                            <td>مانیتور</td>
                            <td>1</td>
                            <td>2000,000</td>
                            <td>2023,08,12</td>
                            <td><a href="#" class="btn btn-primary">مشاهده فاکتور</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>