<div class="container" dir="rtl">
    <div class="d-flex gap-2 flex-wrap justify-content-center ">
        <div class="card card-info col-10 col-md-4 m-0 p-0">
            <div class="card-header">
                <h3>مشخصات اولیه</h3>
            </div>
            <div class="card-body col-12">
                <div class="col-sm-6">
                    <img src="AdminLTE/dist/img/avatar.png" class="rounded-circle border col-12" />
                </div>
                <div class="col-sm-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    نام
                                </td>
                                <td>
                                    محمد الماسی
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ایمیل
                                </td>
                                <td>
                                    almasi@gmail.com
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    رمز
                                </td>
                                <td>
                                    1234abcd
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    نقش
                                </td>
                                <td>
                                    کاربر
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="card-footer">
                    <div class="btn-group" role="group" dir="ltr">
                        <a href="#" class="btn btn-danger">حذف</a>
                        <a href="#" class="btn btn-warning">ویرایش</a>
                        <a href="#" class="btn btn-secondary">غیرفعال</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-primary col-10 col-md-8 m-0 p-0">
            <div class="card-header">

            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>