@font-face {
  font-family: "Vazir";
  src: url("../Fonts/Vazir-Font/Vazir.ttf");
  src: url("../Fonts/Vazir-Font/Vazir-Medium.ttf");
  src: url("../Fonts/Vazir-Font/Vazir-Light.ttf");
}
@font-face {
  font-family: "Vazir";
  src: url("../Fonts/Vazir-Font/Vazir-Thin.ttf");
  font-family: "light";
}
@font-face {
  font-family: "Vazir";
  src: url("../Fonts/Vazir-Font/Vazir-Regular.ttf");
  font-family: "normal";
}
@font-face {
  font-family: "Vazir";
  src: url("../Fonts/Vazir-Font/Vazir-Bold.ttf");
  font-family: "bold";
}
@font-face {
  font-family: "Vazir";
  src: url("../Fonts/Vazir-Font/Vazir-Black.ttf");
  font-family: "black";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazir";
}

body, html {
  overflow: auto;
}

body, html {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #F4F4F4;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #bfbfbf #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

@font-face {
  font-family: "Lalezar";
  src: url("../Fonts/Lalezar-Font/OTF/Lalezar-Regular.otf");
  src: url("../Fonts/Lalezar-Font/TTF/Lalezar-Regular.ttf");
}
.scrollSection {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0 1em 0;
}
.scrollSection article {
  height: 100%;
  background-color: #fff;
  border-radius: 0.5em;
  padding: 0.5em;
}
.scrollSection article .header h1 {
  font-size: 2em;
  font-family: "Lalezar";
  color: #00719C;
}
.scrollSection article .header .author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.scrollSection article .header .author img {
  border-radius: 50%;
  margin: 0.1em;
  width: 3em;
}
.scrollSection article .header .author h5 {
  color: #919192;
  font-size: 1em;
}
.scrollSection article .header .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  column-gap: 0.5em;
  color: #919192;
}
.scrollSection article .header .detail h5 {
  font-size: 0.9em;
}
.scrollSection article .body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}
.scrollSection article .body img {
  width: 80%;
  margin: auto 0;
  border-radius: 0.5em;
}
.scrollSection article .body h2 {
  width: 100%;
  text-align: right;
}
.scrollSection article .body p {
  text-wrap: balance;
  text-align: right;
  padding: 0.5em 1em 0.5em 1em;
  line-height: 2em;
}
.scrollSection article .tags {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
  column-gap: 0.5em;
}
.scrollSection article .tags .tag {
  padding: 0.5em;
  background-color: #00719C;
  color: #fff;
  border-radius: 2em;
}
.scrollSection aside {
  position: relative;
  min-height: 100%;
}
.scrollSection nav {
  overflow-y: auto;
  position: absolute;
  transition: all 0.5s;
}
.scrollSection nav h3 {
  font-size: 1.5em;
  color: #6B6B6C;
  font-family: "Lalezar";
  font-weight: 300;
  text-align: center;
}
.scrollSection nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
}
.scrollSection nav ul li {
  background-color: #fff;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em;
}
.scrollSection nav ul li a {
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0;
  column-gap: 0.5em;
}
.scrollSection nav ul li a h3 {
  font-size: 1em;
  color: #2F2E2E;
}
.scrollSection nav ul li a h6 {
  font-size: 0.8em;
  text-align: left;
  color: #919192;
}
.scrollSection nav ul li a img {
  width: 6em;
  border-radius: 0.5em;
}
.scrollSection nav ul li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.scrollSection nav .popularTags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  background-color: #fff;
  border-radius: 0.5em;
  margin: 0.5em;
}
.scrollSection nav .popularTags .tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
}
.scrollSection nav .popularTags .tags .tag {
  background-color: #BDBFC1;
  border-radius: 2em;
  padding: 0.5em;
  margin: 0.5em;
}
.scrollSection nav .popularTags .tags .tag a {
  color: #2F2E2E;
  text-decoration: none;
}
.scrollSection nav .popularTags .tags .tag a:hover {
  color: #009BD6;
}
.scrollSection .comments {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0;
}
.scrollSection .comments div.container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.scrollSection .comments .comment-reply {
  width: 100%;
  border-radius: 1em;
  color: #F4F4F4;
  background-color: rgba(0, 155, 214, 0.8);
  padding: 0.5em;
}
.scrollSection .comments .comment-reply .reply {
  background-color: #00719C;
  padding: 0.5em;
  border-radius: 0.5em;
}
.scrollSection .comments .comment-reply .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  column-gap: 0.5em;
  padding: 0.5em;
}
.scrollSection .comments .comment-reply .header .sender {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.scrollSection .comments .comment-reply .header .sender img {
  width: 5em;
  border-radius: 50%;
}
.scrollSection .comments .comment-reply .header .sender h5 {
  font-size: 1em;
}
.scrollSection .comments .comment-reply .header .replylink {
  text-decoration: none;
  color: #fff;
}
.scrollSection .comments .comment {
  width: 100%;
  border-radius: 1em;
  color: #2F2E2E;
  background-color: rgba(244, 244, 244, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0.5em;
}
.scrollSection .comments .comment .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  column-gap: 0.5em;
  padding: 0.5em;
}
.scrollSection .comments .comment .header .sender {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.scrollSection .comments .comment .header .sender img {
  width: 5em;
  border-radius: 50%;
}
.scrollSection .comments .comment .header .sender h5 {
  font-size: 1em;
}
.scrollSection .comments .comment .header .replylink {
  text-decoration: none;
  color: #2F2E2E;
}
.scrollSection .comments .sendComment form button {
  background-color: #009BD6;
  border: none;
}
.scrollSection .comments .sendComment form button:hover {
  background-color: #00719C;
}

.searchposts .search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.searchposts .search input {
  text-align: right;
  font-weight: 500;
}
.searchposts .search input::placeholder {
  text-align: right;
}
.searchposts .search button {
  background-color: #009BD6;
  color: #fff;
  border: none;
}
.searchposts .search button:hover {
  background-color: #00719C;
}
.searchposts .postlist ul {
  list-style: none;
}
.searchposts .postlist ul li a {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
  margin: 0.5em;
}
.searchposts .postlist ul .post-item {
  box-shadow: 0 0 20px 5px rgba(189, 191, 193, 0.3);
}
.searchposts .postlist ul .post-item img {
  width: 100%;
  padding: 1em;
  border-radius: 1em;
}
.searchposts .postlist ul .post-item .detail {
  color: #919192;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
}
.searchposts .postlist ul .post-item h4 {
  color: #2F2E2E;
  font-family: "Lalezar", "Vazir";
}
.searchposts .postlist ul .post-item p {
  color: #6B6B6C;
  text-wrap: balance;
  font-weight: 300;
}

.popular-tags {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}
.popular-tags .tag {
  border: 2px solid #2F2E2E;
  margin: 0.1em;
  border-radius: 2em;
  box-shadow: 0 0 10px 5px rgba(160, 160, 160, 0.3);
  padding: 0.5em 1em 0.5em 1em;
  font-size: 0.8em;
}

.scrollBlog.scrollSection .card {
  background-color: #fff;
  border-radius: 1em;
}
.scrollBlog.scrollSection .card .card-header {
  border-radius: 0.5em;
  overflow: hidden;
  height: 10em;
  background-color: transparent;
  border: none;
}
.scrollBlog.scrollSection .card .card-header a {
  width: 100%;
  height: 100%;
}
.scrollBlog.scrollSection .card .card-header img {
  width: 100%;
  height: 100%;
  height: auto;
  object-fit: cover;
}
.scrollBlog.scrollSection .card .card-body h5, .scrollBlog.scrollSection .card .card-body .date {
  color: #4B4C4E;
  text-align: right;
  font-weight: 600;
}
.scrollBlog.scrollSection .card .card-body .date {
  font-weight: 300;
  font-size: 0.9em;
}

.tags {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 0;
  flex-wrap: wrap;
  column-gap: 0.5em;
}
.tags .tag {
  padding: 0.5em;
  background-color: #99e3ff;
  border: 2px solid #00719C;
  color: #00719C;
  border-radius: 2em;
  transition: all 0.5s;
  font-size: 0.8em;
  font-weight: normal;
}

.overlay-content {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: start;
  height: 100%;
  background-image: linear-gradient(transparent, rgba(34, 34, 34, 0.4588235294) 70%);
  transition: display 0.5s;
}

@media screen and (max-width: 991px) {
  section aside {
    display: none;
  }
  section article .body img {
    width: 100%;
  }
}
