@page
@model ChangePasswordModel
@{
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<partial name="_StatusMessage" for="StatusMessage" />
<form id="change-password-form" method="post" class="w-full space-y-6 mt-16">
    <h3 class="text-lg font-bold text-zinc-700 mb-4">(رمز عبور) اطلاعات هویتی</h3>
    <div asp-validation-summary="ModelOnly" class="text-red-500 text-sm" role="alert"></div>

    <!-- Inputs Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <!-- Old Password -->
        <div class="flex flex-col gap-y-1">
            <label asp-for="Input.OldPassword" class="text-zinc-700 flex">
                رمز عبور فعلی
                <svg class="fill-red-500 ml-1" xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                    viewBox="0 0 256 256">
                    <path
                        d="M210.23,101.57l-72.6,29 51.11,65.71a6,6,0,0,1-9.48,7.36L128,137.77,76.74,203.68a6,6,0,1,1-9.48-7.36l51.11-65.71-72.6-29a6,6,0,1,1,4.46-11.14L122,119.14V40a6,6,0,0,1,12,0v79.14l71.77-28.71a6,6,0,1,1,4.46,11.14Z" />
                </svg>
            </label>
            <input asp-for="Input.OldPassword" type="password" autocomplete="current-password" aria-required="true"
                placeholder="رمز عبور فعلی را وارد کنید"
                class="rounded-2xl text-sm text-zinc-600 w-full border border-zinc-200 px-5 py-3.5
                       placeholder:text-zinc-400 placeholder:text-xs
                       focus:outline-1 focus:outline-primary-300 focus:border-primary-300" />
            <span asp-validation-for="Input.OldPassword" class="text-red-500 text-sm"></span>
        </div>

        <!-- New Password -->
        <div class="flex flex-col gap-y-1">
            <label asp-for="Input.NewPassword" class="text-zinc-700 flex">
                رمز عبور جدید
                <svg class="fill-red-500 ml-1" xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                    viewBox="0 0 256 256">
                    <path
                        d="M210.23,101.57l-72.6,29 51.11,65.71a6,6,0,0,1-9.48,7.36L128,137.77,76.74,203.68a6,6,0,1,1-9.48-7.36l51.11-65.71-72.6-29a6,6,0,1,1,4.46-11.14L122,119.14V40a6,6,0,0,1,12,0v79.14l71.77-28.71a6,6,0,1,1,4.46,11.14Z" />
                </svg>
            </label>
            <input asp-for="Input.NewPassword" type="password" autocomplete="new-password" aria-required="true"
                placeholder="رمز عبور جدید را وارد کنید"
                class="rounded-2xl text-sm text-zinc-600 w-full border border-zinc-200 px-5 py-3.5
                       placeholder:text-zinc-400 placeholder:text-xs
                       focus:outline-1 focus:outline-primary-300 focus:border-primary-300" />
            <span asp-validation-for="Input.NewPassword" class="text-red-500 text-sm"></span>
        </div>

        <!-- Confirm Password -->
        <div class="flex flex-col gap-y-1 md:col-span-2">
            <label asp-for="Input.ConfirmPassword" class="text-zinc-700 flex">
                تایید رمز عبور جدید
                <svg class="fill-red-500 ml-1" xmlns="http://www.w3.org/2000/svg" width="10" height="10"
                    viewBox="0 0 256 256">
                    <path
                        d="M210.23,101.57l-72.6,29 51.11,65.71a6,6,0,0,1-9.48,7.36L128,137.77,76.74,203.68a6,6,0,1,1-9.48-7.36l51.11-65.71-72.6-29a6,6,0,1,1,4.46-11.14L122,119.14V40a6,6,0,0,1,12,0v79.14l71.77-28.71a6,6,0,1,1,4.46,11.14Z" />
                </svg>
            </label>
            <input asp-for="Input.ConfirmPassword" type="password" autocomplete="new-password" aria-required="true"
                placeholder="رمز عبور جدید را تایید کنید"
                class="rounded-2xl text-sm text-zinc-600 w-full border border-zinc-200 px-5 py-3.5
                       placeholder:text-zinc-400 placeholder:text-xs
                       focus:outline-1 focus:outline-primary-300 focus:border-primary-300" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-red-500 text-sm"></span>
        </div>
    </div>

    <!-- Submit -->
    <button type="submit"
        class="w-full rounded-2xl bg-green-600 hover:bg-green-700 text-white font-medium py-3 mt-6 transition">
        ثبت
    </button>
</form>


@* *@
@* @section ScriptRefrence { *@
@*     <partial name="_ValidationScriptsPartial" /> *@
@* } *@
