@page
@model ResetAuthenticatorModel
@{
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>اگر شما کد احراز هویت خود را تغییر داده اید برنامه احراز هویت شما کار نخواهد کرد تا زمانیکه آن را دوباره تنظیم کنید</strong>
    </p>
    <p>
     این عملیات احراز هویت دو مرحله ای را غیر فعال می کند تا زمانیکه شما هویت خود را در برنامه احراز کنید
     اگر شما هویت خود را در برنامه تنظیم و احراز نکنید دسترسی به اکانت خود را از دست خواهید داد
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="col-md-8 col-12">
        <button id="reset-authenticator-button" class="btn btn-block btn-danger" type="submit">تغییر کد </button>
    </form>
</div>

@section ScriptRefrence {
    <partial name="_ValidationScriptsPartial" />
}
