@{
    Layout = "UserPanelLayout";
    ViewData["ActiveLink"] = "notification";
}
<ul class="col-8 d-flex flex-column nav" id="notificationContainer">
    <li class="p-2 alert alert-info">
        <div class="col-12 d-flex justify-content-between">
            <span>Admin</span>
            <span>1403/03/12</span>
        </div>
        <h3 class="text-end">جشتواره</h3>
        <p class="text-end">
            کد تخفیف جشنواره تابستانه
            کد : dsjfnnbjfj134
        </p>
        <a href="#">خوانده شد</a>
    </li>
    <li class="p-1 alert alert-secondary">
        <div class="col-12 d-flex justify-content-between">
            <span>Admin</span>
            <span>1403/03/12</span>
        </div>
        <h3 class="text-end">تایید شماره موبایل</h3>
        <p class="text-end">لطفا در اسرع وقت شماره موبایل حود را تایید کنید</p>
        <!-- <a href="#">خوانده شد</a> -->
    </li>
</ul>
@section ScriptRefrence{
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js" ></script>
    <script src="~/signalr/hubs"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
}
@section InLineScript{
    <script>
        const connection = new signalR.HubConnectionBuilder()
        .withUrl("/notification")
        .configureLogging(signalR.LogLevel.Information)
        .build();

        connection.start().then(function(){
            console.log("SignalR Connected");
        }).catch(function(err){
            console.error(err.toString());

        });
        connection.on("receiveMessage", function (message) {
            var li = document.createElement('li');
            $("#notificationContainer").append(li);
            li.classList.add("alert","alert-info");
            li.innerHTML = message;
            console.log("receiveMessage :",message);
        });

</script>
}