<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="info-box col-sm-6 col-lg-3">
                <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">علاقه مندی ها</span>
                    <span class="info-box-number">93,139</span>
                </div>

            </div>
            <div class="info-box col-sm-6 col-lg-3">
                <span class="info-box-icon bg-info"><i class="fas fa-comments"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">کامنت ها</span>
                    <span class="info-box-number">30</span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-6">
                <!-- small card -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>150</h3>

                        <p>تعداد محصول</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        More info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
                <!-- small card -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>53<sup style="font-size: 20px">%</sup></h3>

                        <p>حجم فروش</p>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-money-bill-wave"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        More info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
                <!-- small card -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>44</h3>

                        <p>میانگین قیمت</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        more info <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--START Product Details -->
        <!---------------------------------------------------->
        <div class="card card-solid">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <h3 class="d-inline-block d-sm-none">LOWA Men’s Renegade GTX Mid Hiking Boots Review</h3>
                        <div class="col-12">
                            <img src="AdminLTE/dist/img/manitor.jfif" class="product-image" alt="Product Image">
                        </div>
                        <div class="col-12 product-image-thumbs">
                            <div class="product-image-thumb active"><img src="AdminLTE/dist/img/prod-1.jpg" alt="Product Image"></div>
                            <div class="product-image-thumb"><img src="AdminLTE/dist/img/prod-2.jpg" alt="Product Image"></div>
                            <div class="product-image-thumb"><img src="AdminLTE/dist/img/prod-3.jpg" alt="Product Image"></div>
                            <div class="product-image-thumb"><img src="AdminLTE/dist/img/prod-4.jpg" alt="Product Image"></div>
                            <div class="product-image-thumb"><img src="AdminLTE/dist/img/prod-5.jpg" alt="Product Image"></div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h3 class="my-3">مانیتور جی پلاس مدل GDM-245LN سایز 24 اینچ</h3>
                        <p><span>تجهیزات کامپیوتری</span> < <span>مانیتور</span></p>
                        <hr>
                        <div class="bg-gray py-2 px-3 mt-4">
                            <h2 class="mb-0">
                                $80.00
                            </h2>
                        </div>
                        <div class="col-12 col-sm-6 p-3">
                            <a href="#" class="btn btn-primary">ویرایش</a>
                            <a href="#" class="btn btn-danger">حدف</a>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <nav class="w-100">
                        <div class="nav nav-tabs" id="product-tab" role="tablist">
                            <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">توضیحات</a>
                            <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">مشخصات فنی</a>
                            <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">Rating</a>
                        </div>
                    </nav>
                    <div class="tab-content p-3" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
                            Vivamus rhoncus nisl sed venenatis luctus. Sed condimentum risus ut tortor feugiat laoreet. Suspendisse potenti. Donec et finibus sem, ut commodo lectus. Cras eget neque dignissim, placerat orci interdum, venenatis odio. Nulla turpis elit, consequat eu eros ac, consectetur fringilla urna. Duis gravida ex pulvinar mauris ornare, eget porttitor enim vulputate. Mauris hendrerit, massa nec aliquam cursus, ex elit euismod lorem, vehicula rhoncus nisl dui sit amet eros. Nulla turpis lorem, dignissim a sapien eget, ultrices venenatis dolor. Curabitur vel turpis at magna elementum hendrerit vel id dui. Curabitur a ex ullamcorper, ornare velit vel, tincidunt ipsum.
                        </div>
                        <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>ویژگی</td>
                                        <td>مقدار</td>
                                        <td>کنترل</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>پاور</td>
                                        <td>1200wh</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info"><i class="fa-solid fa-pen"></i></button>
                                                <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>مقدار روشنایی</td>
                                        <td>1200ghz</td>
                                             <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info"><i class="fa-solid fa-pen"></i></button>
                                                <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ترکیب رنگ</td>
                                        <td>1200</td>
                                             <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info"><i class="fa-solid fa-pen"></i></button>
                                                <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>کیفیت تصویر</td>
                                        <td>1000 gh</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info"><i class="fa-solid fa-pen"></i></button>
                                                <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab"> Cras ut ipsum ornare, aliquam ipsum non, posuere elit. In hac habitasse platea dictumst. Aenean elementum leo augue, id fermentum risus efficitur vel. Nulla iaculis malesuada scelerisque. Praesent vel ipsum felis. Ut molestie, purus aliquam placerat sollicitudin, mi ligula euismod neque, non bibendum nibh neque et erat. Etiam dignissim aliquam ligula, aliquet feugiat nibh rhoncus ut. Aliquam efficitur lacinia lacinia. Morbi ac molestie lectus, vitae hendrerit nisl. Nullam metus odio, malesuada in vehicula at, consectetur nec justo. Quisque suscipit odio velit, at accumsan urna vestibulum a. Proin dictum, urna ut varius consectetur, sapien justo porta lectus, at mollis nisi orci et nulla. Donec pellentesque tortor vel nisl commodo ullamcorper. Donec varius massa at semper posuere. Integer finibus orci vitae vehicula placerat. </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!----------------------------------------------------->
        <!--End product details-->
        @*      <div class="row">
        <div class="col-12">
        <!-- interactive chart -->
        <div class="card card-primary card-outline">
        <div class="card-header">
        <h3 class="card-title">
        <i class="far fa-chart-bar"></i>
        Interactive Area Chart
        </h3>

        <div class="card-tools">
        Real time
        <div class="btn-group" id="realtime" data-toggle="btn-toggle">
        <button type="button" class="btn btn-default btn-sm active" data-toggle="on">On</button>
        <button type="button" class="btn btn-default btn-sm" data-toggle="off">Off</button>
        </div>
        </div>
        </div>
        <div class="card-body">
        <div id="interactive" style="height: 300px; padding: 0px; position: relative;"><canvas class="flot-base" width="1470" height="600" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 735px; height: 300px;"></canvas><canvas class="flot-overlay" width="1470" height="600" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 735px; height: 300px;"></canvas><div class="flot-svg" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; pointer-events: none;"><svg style="width: 100%; height: 100%;"><g class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; inset: 0px;"><text x="29.5" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">0</text><text x="95.0864898989899" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">10</text><text x="164.9854797979798" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">20</text><text x="234.8844696969697" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">30</text><text x="304.7834595959596" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">40</text><text x="374.6824494949495" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">50</text><text x="444.5814393939394" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">60</text><text x="514.4804292929293" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">70</text><text x="584.3794191919192" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">80</text><text x="654.278409090909" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">90</text></g><g class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; inset: 0px;"><text x="9.625" y="268.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">0</text><text x="1" y="217.85" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">20</text><text x="1" y="167.45" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">40</text><text x="1" y="117.05" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">60</text><text x="1" y="66.65" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">80</text><text x="-7.625" y="16.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">100</text></g></svg></div></div>
        </div>
        <!-- /.card-body-->
        </div>
        <!-- /.card -->

        </div>
        <!-- /.col -->
        </div>*@
        <!-- /.row -->
        <div class="row">
            <div class="card col-12 p-0 m-0">
                <div class="card-header bg-primary">
                    <h2 class="text-light">کامنت ها</h2>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>عکس</td>
                                <td>نام کاربر</td>
                                <td>موضوع</td>
                                <td>متن پیام</td>
                                <td>
                                    کنترل
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src="AdminLTE/dist/img/user1-128x128.jpg" alt="user" class="border rounded-circle" /></td>
                                <td>محمد الماسی</td>
                                <td>کیفیت محصول</td>
                                <td>کیفیت محصول عالی بود اما رنگش کمی ...</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info"><i class="fa-solid fa-eye"></i></button>
                                        <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="AdminLTE/dist/img/user1-128x128.jpg" alt="user" class="border rounded-circle" /></td>
                                <td>محمد الماسی</td>
                                <td>کیفیت محصول</td>
                                <td>کیفیت محصول عالی بود اما رنگش کمی ...</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info"><i class="fa-solid fa-eye"></i></button>
                                        <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="AdminLTE/dist/img/user1-128x128.jpg" alt="user" class="border rounded-circle" /></td>
                                <td>محمد الماسی</td>
                                <td>کیفیت محصول</td>
                                <td>کیفیت محصول عالی بود اما رنگش کمی ...</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info"><i class="fa-solid fa-eye"></i></button>
                                        <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a href="#" >بیشتر</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Line chart -->
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="far fa-chart-bar"></i>
                            نوسان قیمت بر اساس ماه
                        </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="line-chart" style="height: 300px; padding: 0px; position: relative;"><canvas class="flot-base" width="680" height="600" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 340px; height: 300px;"></canvas><canvas class="flot-overlay" width="680" height="600" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 340px; height: 300px;"></canvas><div class="flot-svg" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; pointer-events: none;"><svg style="width: 100%; height: 100%;"><g class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; inset: 0px;"><text x="39.6875" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">0</text><text x="92.83564814814815" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">3</text><text x="145.9837962962963" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">5</text><text x="199.13194444444446" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">8</text><text x="247.7800925925926" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">10</text><text x="300.92824074074076" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">13</text></g><g class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; inset: 0px;"><text x="1" y="268.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">-1.5</text><text x="1" y="226.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">-1.0</text><text x="1" y="184.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">-0.5</text><text x="7.3984375" y="16.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">1.5</text><text x="7.3984375" y="142.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">0.0</text><text x="7.3984375" y="100.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">0.5</text><text x="7.3984375" y="58.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">1.0</text></g></svg></div></div>
                    </div>
                    <!-- /.card-body-->
                </div>
                <!-- /.card -->
                <!-- Area chart -->
                @*  <div class="card card-primary card-outline">
                <div class="card-header">
                <h3 class="card-title">
                <i class="far fa-chart-bar"></i>
                Area Chart
                </h3>

                <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
                </button>
                </div>
                </div>
                <div class="card-body">
                <div id="area-chart" style="height: 338px; padding: 0px; position: relative;" class="full-width-chart"><canvas class="flot-base" width="756" height="676" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 378px; height: 338px;"></canvas><canvas class="flot-overlay" width="756" height="676" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 378px; height: 338px;"></canvas></div>
                </div>
                <!-- /.card-body-->
                </div>*@
                <!-- /.card -->

            </div>
            <!-- /.col -->

            <div class="col-md-6">
                <!-- Bar chart -->
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="far fa-chart-bar"></i>
                            حجم فروش بر اساس ماه
                        </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="bar-chart" style="height: 300px; padding: 0px; position: relative;"><canvas class="flot-base" width="680" height="600" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 340px; height: 300px;"></canvas><canvas class="flot-overlay" width="680" height="600" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 340px; height: 300px;"></canvas><div class="flot-svg" style="position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; pointer-events: none;"><svg style="width: 100%; height: 100%;"><g class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; inset: 0px;"><text x="123.9346590909091" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">March</text><text x="178.8856534090909" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">April</text><text x="230.47336647727275" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">May</text><text x="18.907670454545453" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">January</text><text x="278.95170454545456" y="293.75" class="flot-tick-label tickLabel" style="position: absolute; text-align: center;">June</text></g><g class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; inset: 0px;"><text x="10" y="268.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">0</text><text x="10" y="205.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">5</text><text x="1" y="16.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">20</text><text x="1" y="142.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">10</text><text x="1" y="79.25" class="flot-tick-label tickLabel" style="position: absolute; text-align: right;">15</text></g></svg></div></div>
                    </div>
                    <!-- /.card-body-->
                </div>
                <!-- /.card -->
                <!-- Donut chart -->
                @*    <div class="card card-primary card-outline">
                <div class="card-header">
                <h3 class="card-title">
                <i class="far fa-chart-bar"></i>
                Donut Chart
                </h3>

                <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
                </button>
                </div>
                </div>
                <div class="card-body">
                <div id="donut-chart" style="height: 300px; padding: 0px; position: relative;"><canvas class="flot-base" width="680" height="600" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 340px; height: 300px;"></canvas><canvas class="flot-overlay" width="680" height="600" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 340px; height: 300px;"></canvas><span class="pieLabel" id="pieLabel0" style="position: absolute; top: 69.5px; left: 228.039px;"><div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">Series2<br>30%</div></span><span class="pieLabel" id="pieLabel1" style="position: absolute; top: 209.5px; left: 206.039px;"><div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">Series3<br>20%</div></span><span class="pieLabel" id="pieLabel2" style="position: absolute; top: 128.5px; left: 46.8984px;"><div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">Series4<br>50%</div></span></div>
                </div>
                <!-- /.card-body-->
                </div>*@
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
@section RefrenceScripts {
    <script src="AdminLTE/plugins/flot/jquery.flot.js"></script>
    <!-- FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized -->
    <script src="AdminLTE/plugins/flot/plugins/jquery.flot.resize.js"></script>
    <!-- FLOT PIE PLUGIN - also used to draw donut charts -->
    <script src="AdminLTE/plugins/flot/plugins/jquery.flot.pie.js"></script>
}
@section InlineScripts {
    <script>
        $(function () {
            /*
             * Flot Interactive Chart
             * -----------------------
             */
            // We use an inline data source in the example, usually data would
            // be fetched from a server
            //var data        = [],
            //    totalPoints = 100

            //function getRandomData() {

            //  if (data.length > 0) {
            //    data = data.slice(1)
            //  }

            //  // Do a random walk
            //  while (data.length < totalPoints) {

            //    var prev = data.length > 0 ? data[data.length - 1] : 50,
            //        y    = prev + Math.random() * 10 - 5

            //    if (y < 0) {
            //      y = 0
            //    } else if (y > 100) {
            //      y = 100
            //    }

            //    data.push(y)
            //  }

            //  // Zip the generated y values with the x values
            //  var res = []
            //  for (var i = 0; i < data.length; ++i) {
            //    res.push([i, data[i]])
            //  }

            //  return res
            //}

            //var interactive_plot = $.plot('#interactive', [
            //    {
            //      data: getRandomData(),
            //    }
            //  ],
            //  {
            //    grid: {
            //      borderColor: '#f3f3f3',
            //      borderWidth: 1,
            //      tickColor: '#f3f3f3'
            //    },
            //    series: {
            //      color: '#3c8dbc',
            //      lines: {
            //        lineWidth: 2,
            //        show: true,
            //        fill: true,
            //      },
            //    },
            //    yaxis: {
            //      min: 0,
            //      max: 100,
            //      show: true
            //    },
            //    xaxis: {
            //      show: true
            //    }
            //  }
            //)

            //var updateInterval = 500 //Fetch data ever x milliseconds
            //var realtime       = 'on' //If == to on then fetch data every x seconds. else stop fetching
            //function update() {

            //  interactive_plot.setData([getRandomData()])

            //  // Since the axes don't change, we don't need to call plot.setupGrid()
            //  interactive_plot.draw()
            //  if (realtime === 'on') {
            //    setTimeout(update, updateInterval)
            //  }
            //}

            ////INITIALIZE REALTIME DATA FETCHING
            //if (realtime === 'on') {
            //  update()
            //}
            ////REALTIME TOGGLE
            //$('#realtime .btn').click(function () {
            //  if ($(this).data('toggle') === 'on') {
            //    realtime = 'on'
            //  }
            //  else {
            //    realtime = 'off'
            //  }
            //  update()
            //})
            /*
             * END INTERACTIVE CHART
             */


            /*
             * LINE CHART
             * ----------
             */
            //LINE randomly generated data

            var sin = [],
                cos = []
            for (var i = 0; i < 14; i += 0.5) {
                sin.push([i, Math.sin(i)])
                cos.push([i, Math.cos(i)])
            }
            var line_data1 = {
                data: sin,
                color: '#3c8dbc'
            }
            var line_data2 = {
                data: cos,
                color: '#00c0ef'
            }
            $.plot('#line-chart', [line_data1, line_data2], {
                grid: {
                    hoverable: true,
                    borderColor: '#f3f3f3',
                    borderWidth: 1,
                    tickColor: '#f3f3f3'
                },
                series: {
                    shadowSize: 0,
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    }
                },
                lines: {
                    fill: false,
                    color: ['#3c8dbc', '#f56954']
                },
                yaxis: {
                    show: true
                },
                xaxis: {
                    show: true
                }
            })
            //Initialize tooltip on hover
            $('<div class="tooltip-inner" id="line-chart-tooltip"></div>').css({
                position: 'absolute',
                display: 'none',
                opacity: 0.8
            }).appendTo('body')
            $('#line-chart').bind('plothover', function (event, pos, item) {

                if (item) {
                    var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2)

                    $('#line-chart-tooltip').html(item.series.label + ' of ' + x + ' = ' + y)
                        .css({
                            top: item.pageY + 5,
                            left: item.pageX + 5
                        })
                        .fadeIn(200)
                } else {
                    $('#line-chart-tooltip').hide()
                }

            })
            /* END LINE CHART */

            /*
             * FULL WIDTH STATIC AREA CHART
             * -----------------
             */
            //var areaData = [[2, 88.0], [3, 93.3], [4, 102.0], [5, 108.5], [6, 115.7], [7, 115.6],
            //  [8, 124.6], [9, 130.3], [10, 134.3], [11, 141.4], [12, 146.5], [13, 151.7], [14, 159.9],
            //  [15, 165.4], [16, 167.8], [17, 168.7], [18, 169.5], [19, 168.0]]
            //$.plot('#area-chart', [areaData], {
            //  grid  : {
            //    borderWidth: 0
            //  },
            //  series: {
            //    shadowSize: 0, // Drawing is faster without shadows
            //    color     : '#00c0ef',
            //    lines : {
            //      fill: true //Converts the line chart to area chart
            //    },
            //  },
            //  yaxis : {
            //    show: false
            //  },
            //  xaxis : {
            //    show: false
            //  }
            //})

            ///* END AREA CHART */

            /*
             * BAR CHART
             * ---------
             */

            var bar_data = {
                data: [[1, 10], [2, 8], [3, 4], [4, 13], [5, 17], [6, 9]],
                bars: { show: true }
            }
            $.plot('#bar-chart', [bar_data], {
                grid: {
                    borderWidth: 1,
                    borderColor: '#f3f3f3',
                    tickColor: '#f3f3f3'
                },
                series: {
                    bars: {
                        show: true, barWidth: 0.5, align: 'center',
                    },
                },
                colors: ['#3c8dbc'],
                xaxis: {
                    ticks: [[1, 'January'], [2, 'February'], [3, 'March'], [4, 'April'], [5, 'May'], [6, 'June']]
                }
            })
            /* END BAR CHART */

            /*
             * DONUT CHART
             * -----------
             */

            //var donutData = [
            //  {
            //    label: 'Series2',
            //    data : 30,
            //    color: '#3c8dbc'
            //  },
            //  {
            //    label: 'Series3',
            //    data : 20,
            //    color: '#0073b7'
            //  },
            //  {
            //    label: 'Series4',
            //    data : 50,
            //    color: '#00c0ef'
            //  }
            //]
            //$.plot('#donut-chart', donutData, {
            //  series: {
            //    pie: {
            //      show       : true,
            //      radius     : 1,
            //      innerRadius: 0.5,
            //      label      : {
            //        show     : true,
            //        radius   : 2 / 3,
            //        formatter: labelFormatter,
            //        threshold: 0.1
            //      }

            //    }
            //  },
            //  legend: {
            //    show: false
            //  }
            //})
            /*
             * END DONUT CHART
             */

        })

        /*
         * Custom Label formatter
         * ----------------------
         */
        function labelFormatter(label, series) {
            return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'
                + label
                + '<br>'
                + Math.round(series.percent) + '%</div>'
        }
    </script>
    }