@{
    ViewData["Title"] = "صفحه اصلی";
}

  <section class="carousel-container">
        <div class="carousel-wrapper">
            <div class="carousel-slide 1" id="last-clone">
                <img src="~/image/slider/Sliderimage1.jpg" alt="slide">
            </div>
            <div class="carousel-slide 2">
            <img src="~/image/slider/sliderimage2.jpg" alt="slide1">
            </div>
            <div class="carousel-slide 3">
            <img src="~/image/slider/Sliderimage3.jpg" alt="slide">
            </div>
            <div class="carousel-slide 4" id="first-clone">
            <img src="~/image/slider/Sliderimage4.jpg" alt="slide">
            </div>
        </div>
        <div class="navigation">
            <button class="right-nav"> > </button>
            <button class="left-nav">></button>
        </div>
    </section>
    <section class="SpecialOffer scrollcontainer">
        <div class="Product-container">
            <h2 class="text-light">تخفیفات ویژه</h2>
            <div class="product-wrapper">
                <div class="product-card" style="min-width: 15rem;">
                    <span class="off badge badge-danger bg-danger rounded-5">40%</span>
                    <div class="cover">
                        <img src="../image/download (1).jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="original-price text-danger"><del>25,000,000تومان</del></span>
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <button class="btn btn-primary">خرید</button>
                    </div>
                    <div class="card-footer">
                        <span class="title">زمان باقی مانده</span>
                        <span class="value">5:32:48</span>
                    </div>
                </div>
                <!--test tags content-->
                <div class="product-card" style="min-width: 15rem;">
                    <span class="off badge badge-danger bg-danger rounded-5">40%</span>
                    <div class="cover">
                        <img src="../image/download (1).jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="original-price text-danger"><del>25,000,000تومان</del></span>
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <button class="btn btn-primary">خرید</button>
                    </div>
                    <div class="card-footer">
                        <span class="title">زمان باقی مانده</span>
                        <span class="value">5:32:48</span>
                    </div>
                </div>
                <div class="product-card" style="min-width: 15rem;">
                    <span class="off badge badge-danger bg-danger rounded-5">40%</span>
                    <div class="cover">
                        <img src="../image/download (1).jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="original-price text-danger"><del>25,000,000تومان</del></span>
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <button class="btn btn-primary">خرید</button>
                    </div>
                    <div class="card-footer">
                        <span class="title">زمان باقی مانده</span>
                        <span class="value">5:32:48</span>
                    </div>
                </div>
                <div class="product-card" style="min-width: 15rem;">
                    <span class="off badge badge-danger bg-danger rounded-5">40%</span>
                    <div class="cover">
                        <img src="../image/download (1).jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="original-price text-danger"><del>25,000,000تومان</del></span>
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <button class="btn btn-primary">خرید</button>
                    </div>
                    <div class="card-footer">
                        <span class="title">زمان باقی مانده</span>
                        <span class="value">5:32:48</span>
                    </div>
                </div>
                <div class="product-card" style="min-width: 15rem;">
                    <span class="off badge badge-danger bg-danger rounded-5">40%</span>
                    <div class="cover">
                        <img src="../image/download (1).jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="original-price text-danger"><del>25,000,000تومان</del></span>
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <button class="btn btn-primary">خرید</button>
                    </div>
                    <div class="card-footer">
                        <span class="title">زمان باقی مانده</span>
                        <span class="value">5:32:48</span>
                    </div>
                </div>
                <div class="product-card" style="min-width: 15rem;">
                    <span class="off badge badge-danger bg-danger rounded-5">40%</span>
                    <div class="cover">
                        <img src="../image/download (1).jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="original-price text-danger"><del>25,000,000تومان</del></span>
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <button class="btn btn-primary">خرید</button>
                    </div>
                    <div class="card-footer">
                        <span class="title">زمان باقی مانده</span>
                        <span class="value">5:32:48</span>
                    </div>
                </div>
                <div class="product-card" style="min-width: 15rem;">
                    <span class="off badge badge-danger bg-danger rounded-5">40%</span>
                    <div class="cover">
                        <img src="../image/download (1).jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="original-price text-danger"><del>25,000,000تومان</del></span>
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <button class="btn btn-primary">خرید</button>
                    </div>
                    <div class="card-footer">
                        <span class="title">زمان باقی مانده</span>
                        <span class="value">5:32:48</span>
                    </div>
                </div>
                <div class="product-card" style="min-width: 15rem;">
                    <span class="off badge badge-danger bg-danger rounded-5">40%</span>
                    <div class="cover">
                        <img src="../image/download (1).jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="original-price text-danger"><del>25,000,000تومان</del></span>
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <button class="btn btn-primary">خرید</button>
                    </div>
                    <div class="card-footer">
                        <span class="title">زمان باقی مانده</span>
                        <span class="value">5:32:48</span>
                    </div>
                </div>
                <div class="product-card" style="min-width: 15rem;">
                    <span class="off badge badge-danger bg-danger rounded-5">40%</span>
                    <div class="cover">
                        <img src="../image/download (1).jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="original-price text-danger"><del>25,000,000تومان</del></span>
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <button class="btn btn-primary">خرید</button>
                    </div>
                    <div class="card-footer">
                        <span class="title">زمان باقی مانده</span>
                        <span class="value">5:32:48</span>
                    </div>
                </div>
                <!--test tags content-->
            </div>
            <div class="navigation">
                <button class="right-nav-scroll"> > </button>
                <button class="left-nav-scroll">></button>
            </div>
        </div>
    </section>
    <section class="seggustion scrollcontainer">
        <div class="Product-container">
            <h2 class="text-light"><span>جدیدترین محصولات</span><span><a href="#">مشاهده بیشتر</a></span></h2>
            <div class="product-wrapper">
                <div class="product-card" style="min-width: 15rem;">
                    <div class="cover">
                        <img src="../image/download (1).jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="shopbtn"><i class="fa-solid fa-cart-shopping"></i></a>
                            <div class="rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--test tags content-->
                <div class="product-card" style="min-width: 15rem;">
                    <div class="cover">
                        <img src="../image/s22.jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="shopbtn"><i class="fa-solid fa-cart-shopping"></i></a>
                            <div class="rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card" style="min-width: 15rem;">
                    <div class="cover">
                        <img src="../image/s22.jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="shopbtn"><i class="fa-solid fa-cart-shopping"></i></a>
                            <div class="rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card" style="min-width: 15rem;">
                    <div class="cover">
                        <img src="../image/download (1).jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="shopbtn"><i class="fa-solid fa-cart-shopping"></i></a>
                            <div class="rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card" style="min-width: 15rem;">
                    <div class="cover">
                        <img src="../image/download (1).jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="shopbtn"><i class="fa-solid fa-cart-shopping"></i></a>
                            <div class="rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--test tags content-->
            </div>
            <!-- <div class="navigation">
                <button class="right-nav-scroll"> > </button>
                <button class="left-nav-scroll">></button>
            </div> -->
        </div>
    </section>
    <section class="banner container">
        <img src="../image/Sliderimage3.jpg">
    </section>
    <section class="seggustion scrollcontainer">
        <div class="Product-container">
            <h2 class="text-light"><span>محبوب ترین محصولات</span><span><a href="#">مشاهده بیشتر</a></span></h2>
            <div class="product-wrapper">
                <div class="product-card" style="min-width: 15rem;">
                    <div class="cover">
                        <img src="../image/download (1).jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="shopbtn"><i class="fa-solid fa-cart-shopping"></i></a>
                            <div class="rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--test tags content-->
                <div class="product-card" style="min-width: 15rem;">
                    <div class="cover">
                        <img src="../image/s22.jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="shopbtn"><i class="fa-solid fa-cart-shopping"></i></a>
                            <div class="rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card" style="min-width: 15rem;">
                    <div class="cover">
                        <img src="../image/s22.jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="shopbtn"><i class="fa-solid fa-cart-shopping"></i></a>
                            <div class="rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card" style="min-width: 15rem;">
                    <div class="cover">
                        <img src="../image/download (1).jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="shopbtn"><i class="fa-solid fa-cart-shopping"></i></a>
                            <div class="rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card" style="min-width: 15rem;">
                    <div class="cover">
                        <img src="../image/download (1).jfif" alt="tv">
                    </div>
                    <div class="card-body">
                        <div class="product-name">
                            تلوزیون LG مدل Qlead 2024
                        </div>
                        <div class="price">
                            <span class="off-price">15,000,000تومان</span>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="shopbtn"><i class="fa-solid fa-cart-shopping"></i></a>
                            <div class="rate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--test tags content-->
            </div>
            <!-- <div class="navigation">
                <button class="right-nav-scroll"> > </button>
                <button class="left-nav-scroll">></button>
            </div> -->
        </div>
    </section>
    <!-- <section class="popular-category">
        <h2>محبوب ترین دسته بندی ها</h2>
        <div class="container container-circle-card">
            <div class="wrapper">
                <a class="box">
                    <img src="../image/icons8-macbook-air-100.png" alt="laptop">
                    <p>لپتاپ</p>
                </a>
                <a class="box">
                    <img src="../image/icons8-monitor-100.png" alt="laptop">
                    <p>مانیتور</p>
                </a>
                <a class="box">
                    <img src="../image/icons8-smartphone-96.png" alt="laptop">
                    <p>موبایل</p>
                </a>
                <a class="box">
                    <img src="../image/icons8-mouse-96.png" alt="laptop">
                    <p>موس</p>
                </a>
                <a class="box">
                    <img src="../image/icons8-electronics-100.png" alt="laptop">
                    <p>پردازنده</p>
                </a>
                <a class="box">
                    <img src="../image/icons8-game-controller-100.png" alt="laptop">
                    <p>کنسول بازی</p>
                </a>
                <a class="box">
                    <img src="../image/icons8-motherboard-100.png" alt="laptop">
                    <p>مادربرد</p>
                </a>
            </div>
            <button class="prev-btn navigation-btns" aria-label="Previous" type="button">&lt;</button>
            <button class="next-btn navigation-btns" aria-label="Next" type="button">&gt;</button>
        </div>
    </section> -->
    <section class="banner container-fluid d-flex flex-wrap p-5 justify-content-evenly gap-3">
        <div class="col-md-5 col-8 rounded-3">
            <img src="../image/laptop-jpg.jpg" alt="laptop">
        </div>
        <div class="col-md-5 col-8 rounded-3">
            <img src="../image/Capture.PNG" alt="laptop">
        </div>
    </section>
    <section class="scrollBlog scrollSection d-flex flex-column align-items-center" dir="ltr">
        <h2 class="col-10 text-dark d-flex flex-row-reverse justify-content-between"><span>وبلاگ</span><span><a href="#"
                    class="nav-link text-secondary display-5">مشاهده بیشتر</a></span></h2>
        <div class="container-lg container-fluid p-2">
            <div class="card-slider">
                <div class="card rounded-4" style="width: 18rem;">
                    <div class="card-header">
                        <img src="../image/Capture.PNG" class="card-img-top rounded-3" alt="c#">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">لپتاپ چی بخریم ؟</h5>
                        <span class="badge bg-info">1401 13 مهر | 3دقیقه </span>
                    </div>
                </div>
                <div class="card rounded-4" style="width: 18rem;">
                    <div class="card-header">
                        <img src="../image/Chat gpt.jpg" class="card-img-top rounded-3" alt="chatgpt">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">لپتاپ چی بخریم ؟</h5>
                        <span class="badge bg-info">1401 13 مهر | 3دقیقه </span>
                    </div>
                </div>
                <div class="card rounded-4" style="width: 18rem;">
                    <div class="card-header">
                        <img src="../image/Capture.PNG" class="card-img-top rounded-3" alt="c#">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">لپتاپ چی بخریم ؟</h5>
                        <span class="badge bg-info">1401 13 مهر | 3دقیقه </span>
                    </div>
                </div>
                <div class="card rounded-4" style="width: 18rem;">
                    <div class="card-header">
                        <img src="../image/laptop-jpg.jpg" class="card-img-top rounded-3" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">لپتاپ چی بخریم ؟</h5>
                        <span class="badge bg-info">1401 13 مهر | 3دقیقه </span>
                    </div>
                </div>
                <div class="card rounded-4" style="width: 18rem;">
                    <div class="card-header">
                        <img src="../image/laptop-jpg.jpg" class="card-img-top rounded-3" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">لپتاپ چی بخریم ؟</h5>
                        <span class="badge bg-info">1401 13 مهر | 3دقیقه </span>
                    </div>
                </div>
            </div>
            <!-- <button class="slick-prev" aria-label="Previous" type="button"></button>
                <button class="slick-next" aria-label="Next" type="button"></button> -->
        </div>
    </section>
    <section class="scrollComment scrollSection d-flex flex-column align-items-center" dir="ltr">
        <h3 class="text-center">نظرات</h3>
        <div class="container container-fluid p-2">
            <div class="card-slider">
                <div class="card rounded-4" style="width: 18rem;">
                    <div class="header">
                        <span class="badge bg-primary">موس لاجیتکM90</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">سارا احمدی</h5>
                        <p class="text-wrap">موس خیلی خوبی بود اما یه سری مشکلات داشت</p>
                    </div>
                    <div class="footer">
                        <span class="badge bg-secondary">1401/03/28</span>
                    </div>
                </div>
                <div class="card rounded-4" style="width: 18rem;">
                    <div class="header">
                        <span class="badge bg-primary">موس لاجیتکM90</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">سارا احمدی</h5>
                        <p class="text-wrap">موس خیلی خوبی بود اما یه سری مشکلات داشت</p>
                    </div>
                    <div class="footer">
                        <span class="badge bg-secondary">1401/03/28</span>
                    </div>
                </div>
                <div class="card rounded-4" style="width: 18rem;">
                    <div class="header">
                        <span class="badge bg-primary">موس لاجیتکM90</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">سارا احمدی</h5>
                        <p class="text-wrap">موس خیلی خوبی بود اما یه سری مشکلات داشت</p>
                    </div>
                    <div class="footer">
                        <span class="badge bg-secondary">1401/03/28</span>
                    </div>
                </div>
                <div class="card rounded-4" style="width: 18rem;">
                    <div class="header">
                        <span class="badge bg-primary">موس لاجیتکM90</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">سارا احمدی</h5>
                        <p class="text-wrap">موس خیلی خوبی بود اما یه سری مشکلات داشت</p>
                    </div>
                    <div class="footer">
                        <span class="badge bg-secondary">1401/03/28</span>
                    </div>
                </div>
                <div class="card rounded-4" style="width: 18rem;">
                    <div class="header">
                        <span class="badge bg-primary">موس لاجیتکM90</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">سارا احمدی</h5>
                        <p class="text-wrap">موس خیلی خوبی بود اما یه سری مشکلات داشت</p>
                    </div>
                    <div class="footer">
                        <span class="badge bg-secondary">1401/03/28</span>
                    </div>
                </div>
            </div>
            <!-- <button class="slick-prev" aria-label="Previous" type="button"></button>
                <button class="slick-next" aria-label="Next" type="button"></button> -->
        </div>
    </section>
    <section class="aboutus">
        <h3 class="col-md-6 col-10">درباره ما</h3>
        <div class="col-md-6 col-10 container">
            <div class="cover">
                <img src="../image/salehItLogo.png" alt="">
            </div>
            <div class="content">
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                    چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد
                    نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته
                    حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان
                    رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
                    داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل
                    حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار
                    گیرد.
                </p>
                <a href="#" class="btn btn-outline-primary">بیشتر</a>
            </div>
        </div>
    </section>
    @section InlineCss{
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />
    }
    @section ScriptRefrence{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="~/js/function.js"></script>
    <script src="~/js/app.js"></script>
    }
    @section InlineScript{
    <script>

        $(document).ready(function () {
            $('.card-slider').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 500,
                        settings: {
                            slidesToShow: 1
                        }
                    },
                ]
            });
        });
                //    $(document).ready(function(){
                //     createCircularCardSlider('.container-circle-card','.box','.prev-btn','.next-btn',2000);
                //    })
    </script>
    }
