@{
    ViewData["Title"] = "صفحه اصلی";
}

 <div class="top-photo">
          <div class="content">
            <h1>نام یا لوگو سایت</h1>
            <p>شعار سایت یا یه چیز انگیزشی طور</p>
            <div>
              <button type="button" class="heder-button"><span class="button-hover"></span>تماس با ما</button>
              <button type="button" class="heder-button"><span class="button-hover"></span>محصولات</button>
            </div>
          </div>
        </div>
        <div class="new">
        <div class="product-header"><h1>محصولات جدد</h1></div>
        <div class="prpduct-overflow">   
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="#product-details">
                <img class="pro-photo" src="/picture/83b0789bf386324afe762f507a659af6501a9e8c_1606228598.webp"
                alt="اسم محصول" width="600" height="400">
              </a>
              <div class="desc"><button class="sell-buttom"><a>اسم محصول</a></button></div>
              <div class="social-links"><a href="#add-to-cart" class="add-to-cart-text">اضافه کردن به سبد خرید</a><button class="sell-buttom" style="border: 0 solid black;;"><a href="add-to-cart" class="shopping-cart"><i class="fa fa-shopping-cart"></i></a></button></div>
            </div>
          </div>

          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="#product-details">
                <img class="pro-photo" src="/picture/0257e74519201c838b5c39a6adb557affda3a56b_1618036760.jpg"
                alt="اسم محصول" width="600" height="400">
              </a>
              <div class="desc"><button class="sell-buttom"><a>اسم محصول</a></button></div>
              <div class="social-links"><a href="#add-to-cart" class="add-to-cart-text">اضافه کردن به سبد خرید</a><button class="sell-buttom" style="border: 0 solid black;;"><a href="add-to-cart" class="shopping-cart"><i class="fa fa-shopping-cart"></i></a></button></div>

            </div>
          </div>

          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="#pro-details">
                <img class="pro-photo" src="/picture/83b0789bf386324afe762f507a659af6501a9e8c_1606228598.webp"
                alt="اسم محصول" width="600" height="400">
              </a>
              <div class="desc"><button class="sell-buttom"><a>اسم محصول</a></button></div>
              <div class="social-links"><a href="#add-to-cart" class="add-to-cart-text">اضافه کردن به سبد خرید</a><button class="sell-buttom" style="border: 0 solid black;;"><a href="add-to-cart" class="shopping-cart"><i class="fa fa-shopping-cart"></i></a></button></div>

            </div>
          </div>
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="#pro-details">
                <img class="pro-photo" src="/picture/0257e74519201c838b5c39a6adb557affda3a56b_1618036760.jpg"
                alt="اسم محصول" width="600" height="400">
              </a>
              <div class="desc"><button class="sell-buttom"><a>اسم محصول</a></button></div>
              <div class="social-links"><a href="#add-to-cart" class="add-to-cart-text">اضافه کردن به سبد خرید</a><button class="sell-buttom" style="border: 0 solid black;;"><a href="add-to-cart" class="shopping-cart"><i class="fa fa-shopping-cart"></i></a></button></div>

            </div>
          </div>
          <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="#pro-details">
                <img class="pro-photo" src="/picture/83b0789bf386324afe762f507a659af6501a9e8c_1606228598.webp"
                alt="اسم محصول" width="600" height="400">
              </a>
              <div class="desc"><button class="sell-buttom"><a>اسم محصول</a></button></div>
              <div class="social-links"><a href="#add-to-cart" class="add-to-cart-text">اضافه کردن به سبد خرید</a><button class="sell-buttom" style="border: 0 solid black;;"><a href="add-to-cart" class="shopping-cart"><i class="fa fa-shopping-cart"></i></a></button></div>

            </div>
          </div>
                </div>
              </div>
        </div>
        </div>
      </div>
<div class="only"><h1>یه سر فصل دیگه</h1></div>
      