@{
    ViewData["ActiveLink"] = "ticketDetail";
    Layout = "UserPanelLayout";
}
@model AddEditTicketViewModel
<form method="post" id="send-ticket" class="col-md-10 col-12">
    <div class="col-12 d-flex flex-column align-items-center">
        <img src="~/image/icons/icons8-headphones-100.png" alt="" class="col-3">
        <h6>تیکت شما در اسرع وقت پیگیری می شود!</h6>
    </div>
    <div class="form-group">
        <input id="title" class="form-control" placeholder="عنوان تیکت" >
    </div>
    <div class="form-group">
        <textarea id="content" class=" col-12 w-100" placeholder="متن تیکت" ></textarea>
    </div>
    <button type="submit" class="btn btn-success col-12">ارسال</button>
</form>
@section InlineCss{
    <link rel="stylesheet" href="~/css/ticket.css" />
}
@section ScriptRefrence{
    <script src="~/CkEditor/build/ckeditor.js"></script>
    <script src="~/CkEditor/build/translations/en-au.js"></script>
    <script src="~/CkEditor/build/translations/en-gb.js"></script>
}
@section InlineScript{
    <script>
        ClassicEditor
            .create(document.querySelector('#content'))
            .catch(error => {
                console.error(error);
            });
        $("#send-ticket").submit(function (e) {
            e.preventDefault();
            $.ajax({
                ur: '@Url.Action("AddTicket","Ticket")',
                type: 'GET',
                data: { description: $("#content").val(), title: $("#title").val() },
                success: function (message) {
                    alert(message);
                },
                error:function(){
                    alert("خطا در شبکه");
                }
            })
        })

    </script>
}